// FONTS
$font-family-title: "Roboto Slab", serif;
$font-family-subtitle: "Roboto", sans-serif;

// COLORS
$color-brightorange: #f26002;
$color-white: #ffffff;
$color-lightblue: #8ccbea;
$color-cerulean: #0271bc;
$color-darkgreyblue: #304268;
