<header class="page__header">
<div class="menuhero"></div>
  <a href="https://adalab.es/" target="_blank">
    <img
      class="menu"
      title="Adalab Escuela Digital"
      src="./assets/images/ico-menu.svg"
      alt="insertar SVG con la etiqueta image"
  /></a>
  <div class="container-hero">
    anonymous proxy
    in hac habitasse platea dictumst
    <img
    class="scrolldown"
    title="Adalab Escuela Digital"
    src="./assets/images/ico-scroll-down.svg"
    alt="insertar SVG con la etiqueta image"/>
  </div>
  
  <!-- <img class="hero" src="./assets/images/cover.jpg" alt="hero" /> -->
</a>
</div>
</header>
