<main class="page__main">
  <div class="randomorg">
    <small> insomnia tips </small>
    <h1>looking through a Window Done</h1>
    <p>
      donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <input class="go__button" type="submit" />
  </div>
  <div class="grid-purchase">
    <div class="item item-title">3 reasons to purchase</div>
    <div class="item item-one">
      <article>
        <h2>ut sed metus</h2>
        <p>lorem ipsum dolor sit amet, consecteur.</p>
      </article>
    </div>
    <div class="item item-two">
      <article>
        <h2>curabitur ac erat</h2>
        <p>mauris mattis urna quis lorem molestie.</p>
      </article>
    </div>
    <div class="item itemt-three">
      <article>
        <h2>morbi dictum</h2>
        <p>aliquam in dolor et dolor tincidunt.</p>
      </article>
    </div>
    <div class="item item-button">
      <a href="https://adalab.es/" target="_blank">more</a>
    </div>
  </div>
</main>
