<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="Stylesheet" href="./styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container" var>
        <div class="nombreequipo">EQUIPO 6</div>
        <nav class="textomenu">
          <a href="./index#">EQUIPO</a>
          <a href="./index#">QUIÉNES SOMOS</a>
          <a href="./index#">CONTACTO</a>
        </nav>
          <div class="imagen"> 
            <img src="styles/img/disney-castle-walt-disney-pictures-castle-Favim.com-6156430.jpg" alt="chicas en prado"/>
            <div class="box2"> 
              <div class="texto2"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, unde numquam! Corrupti voluptates provident praesentium, nisi minus unde quod expedita alias reiciendis? Quos sit facere cum distinctio, alias inventore dolor!
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
