<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="Stylesheet" href="./styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <!-- MENÚ SUPERIOR Y TÍTULO: nombre de equipo y botones del navegador-->
        <div class="nombreequipoheader"><strong>EQUIPO 6</strong></div>
        <div class="containerheader"> 
        <nav class="textomenuheader">
          <div class="boxheader">
            <a href="./index#" style="text-decoration: none">
              <strong>EQUIPO 6</strong></a
            >
          </div>

          <div class="boxheader">
            <a href="./index#" style="text-decoration: none"
              ><strong>QUIENES SOMOS</strong></a
            >
          </div>

          <div class="boxheader">
            <a href="./index#" style="text-decoration: none"
              ><strong>CONTACTO</strong></a
            >
        </nav>
      </div>
        <!-- IMAGEN DE FONDO: -->
        <img
          class="imagenfondo"
          src="styles/img/2180967.jpg"
          alt="fondo"
        />

        <!-- ESLOGAN -->
        <div class="esloganheader">
          <p>Las cuatro fantásticas</p>
        </div>
      </div>
    </header>
  </body>
</html>
