<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="Stylesheet" href="./styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <!-- MENÚ SUPERIOR Y TÍTULO: nombre de equipo y botones del navegador-->
      <div class="container">
        <div class="nombreequipo"><strong>EQUIPO 6</strong></div>

        <nav class="textomenu">
          <div class="box">
            <a href="./index#" style="text-decoration: none">
              <strong>EQUIPO 6</strong></a
            >
          </div>

          <div class="box">
            <a href="./index#" style="text-decoration: none"
              ><strong>QUIENES SOMOS</strong></a
            >
          </div>

          <div class="box">
            <a href="./index#" style="text-decoration: none"
              ><strong>CONTACTO</strong></a
            >
          </div>
        </nav>

        <!-- IMAGEN DE FONDO: -->
        <img
          class="imagenfondo"
          src="styles/img/wallpapertip_random-wallpaper-hd_1956251 (1).png"
          alt="fondo"
        />

        <!-- ESLOGAN -->
        <div class="eslogan">
          <p>Las más cracks, listas para desarrollar.</p>
        </div>
      </div>
    </header>
  </body>
</html>
