:root {
  --font-size: 15px;
  --font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.containerheader {
  box-sizing: content-box; 
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  color: white;
  background-color: #14d9c4;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.nombreequipoheader {
  height: 25px;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #099D8D;
}

.textomenuheader{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
    
}

.boxheader {
    height: 10px;
    width: 20%;
    font-size: 15px;
}


.imagenfondo {
  box-sizing: border-box;
  align-content: center;
  width: 100%;
  max-width: 700px;
}

.esloganheader:hidden {
  position: absolute;
  align-items: center;
  font-size: 15px;
  margin-top: 135px;
  margin-left: 20px;
  padding: 6px;
  height:10%;
  width: 35%;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #14d9c4;
  border: solid 2px #099D8D;